<div class="container-fluid">
    <div class="row">
        <div class="col w-75 p-3 text-center">
            <h3 class="modal-h3"><b class="modal-highlight">Welcome to the Interplanetary Pathfinder!</b></h3>
            - a visualization tool for 3-dimensional pathfinding algorithms -
            <br><br>
            It seems like you are browsing from a <b class="modal-highlight">pointing device</b> enabled machine,
            so the controls automatically adapted to provide the best user experience.<br>
            See the figure below for the available controls.<br><br>
        </div>
    </div>
    <div class="row">
        <div class="col w-75 p-3 text-center">
            <img class="img-responsive img-fluid" src="view/res/mouse-icon.png" alt="Mouse controls illustrated" width="236"
                height="296">
        </div>
    </div>
    <div class="row">
        <div class="col w-75 p-3 text-center">
            <br>
            <b class="modal-highlight">Left button:&nbsp;</b>Orbit control<br> 
            <b class="modal-highlight">Scroll wheel-Scroll:&nbsp;</b>Zoom<br>
            <b class="modal-highlight">Scroll wheel-Pressed:&nbsp;</b>Drag<br>
            <b class="modal-highlight">Right button:&nbsp;</b>Map edit action (if enabled)<br>              
        </div>
    </div>
</div>