<div class="container-fluid">
    <div class="row">
        <div class="col w-75 p-3 text-center">
            <h3 class="modal-h3"><b class="modal-highlight">Welcome to the Interplanetary Pathfinder!</b></h3>
            - a visualization tool for 3 dimensional pathfinding algorithms -
            <br><br>
            <b class="modal-highlight">For more projects, <a class="modal-highlight " href="https://mzsoltmolnar.github.io/" target="_blank"><u>visit my website</u></a></b>
            <br><br>
            It seems like you are browsing from a <b class="modal-highlight">touchscreen</b> enabled device,
            so the controls automatically adapted to provide the best user experience.<br>
            See the figure below for the available controls.<br>
            Note: For the best user experience, Chrome browser recommended<br><br>
        </div>
    </div>
    <div class="row">
        <!-- Original icon source: https://iconstore.co/icons/free-vector-gesture-icons -->
        <div class="col w-75 p-3 text-center">
            <img class="img-responsive img-fluid" src="view/res/hand-pan.png" alt="Pan the 3D view using two fingers and drag"
                width="62" height="77">
            <b class="modal-highlight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pan&nbsp;</b><br><br>

            <img class="img-responsive img-fluid" src="view/res/hand-zoom.png" alt="Zoom using pinch gesture"
                width="79" height="64">
            <b class="modal-highlight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zoom&nbsp;</b><br><br>

            <img class="img-responsive img-fluid" src="view/res/hand-orbit.png" alt="Orbit the 3D view with one finger"
                width="53" height="82">
            <b class="modal-highlight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Orbit&nbsp;</b><br><br>

            <img class="img-responsive img-fluid" src="view/res/hand-action.png" alt="Lay walls or move the start and end points if the function is enabled with one finger"
                width="59" height="90"><br>
            <b class="modal-highlight">Map edit action (if enabled)</b>
        </div>
    </div>
</div>
